<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Matt Dupraz</title>

        <link rel="preload" href="assets/sprites/icons.png" as="image" type="image/png">
        <link rel="preload" href="assets/sprites/neko.png" as="image" type="image/png">
        <link rel="stylesheet" href="assets/style.css">
        <link rel="icon" href="data:;base64,=">

        <meta charset="utf-8">
        <meta name="author" content="Matt Dupraz">
    </head>

    <body>
        <aside id="left-column">
            <article id="personal-info">
                <div class="deindent">
                    <a href="assets/images/portrait.jpg"
                       title="Open full-sized portrait">
                        <img class="portrait"
                             title="Portrait"
                             src="assets/images/portrait_small.jpg"/>
                    </a>
                </div>
                <h1>Matt Dupraz</h1>
                <p>PhD candidate at FU Berlin</p>
                <a href="mailto:matthew.dupraz@fu-berlin.de" class="link-social">
                    <span class="icon email"></span>
                    matthew.dupraz@fu-berlin.de
                </a>
                <a class="link-social" href="https://github.com/MattDupraz">
                    <span class="icon github"></span>
                    @MattDupraz
                </a>
            </article>

            <article id="resources">
                <h2 class="heading">
                    <span class="icon resources"></span>
                    Resources
                </h2>

                <div class="links-images">
                    <a class="link-image" href="TLS_Interval">
                        <img src="assets/images/tropical_linear_series.svg"
                             title="TLS applet thumbnail">
                        Tropical Linear Series on an Interval
                    </a>
                    <a class="link-image" href="Graph-Linear-Systems">
                        <img src="assets/images/graph-divisor.png"
                             title="Divisor on a graph">
                        Divisors on Graphs in Julia
                    </a>
                </div>
            </article>

            <article id="music">
                <h2 class="heading">
                    <span class="icon music"></span>
                    Music
                </h2>

                <p>
                    I enjoy making music in my free time, check out some of my
                    songs!
                </p>

                {% include '_music_player.html' %}

                <a href="https://soundcloud.com/quux">▸ SoundCloud</a>
            </article>

            <div class="fill">
                <div class="back-to-top" href="#top">
                    <a href="#top">
                        Back to top
                    </a>
                </div>
            </div>
        </aside>

        <main id="right-column">
            {{ content }}
        </main>
    </body>
</html>
