@font-face {
  font-family: W98;
  src: url(fonts/MSW98UI-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: W98;
  src: url(fonts/MSW98UI-Regular.otf);
}

@font-face {
  font-family: PC98;
  src: url(fonts/pc-9800-bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: PC98;
  src: url(fonts/pc-9800.ttf);
}

@font-face {
  font-family: PTMono;
  src: url(fonts/PTMono-Regular.ttf);
}

@font-face {
  font-family: FiraMono;
  src: url(fonts/FiraMono-Regular.ttf);
}

@font-face {
  font-family: FiraMonoMedium;
  src: url(fonts/FiraMono-Medium.ttf);
  font-weight: bolder;
}

@font-face {
  font-family: FiraMonoBold;
  src: url(fonts/FiraMono-Bold.ttf);
  font-weight: bold;
}

body {
    background-color: #002222;
    margin: 0;
    font-family: FiraMono, monospace;
}

h1, h2, h3 {
    font-family: PTMono;
}

.container {
    display: flex;
    padding: 20px;
    min-width: 800px;
}

#left-column {
    display: flex;
    flex-direction: column;
    width: 365px;
}

#right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#right-column article {
	margin-left: 10px;
}

article {
    margin-bottom: 10px;
	padding:30px 30px;
	background-color: #203030;
	color: #e4fae4;
    border-style: solid;
    border-color: #344 #011 #011 #344;
    border-width: 2px;
}

/*#right-column article h2 {
	margin-top: 5px;
}*/

.valign {
	display: flex;
	align-items: center;
}

.link-social {
    margin-top: 10px;
}

.heading {
    margin-top: -22px;
    margin-bottom: -10px;
}

.icon {
	height: 25px;
	margin-right: 10px;
}

a {
  font-family: FiraMonoMedium;
	color: #ffccaa;
  text-decoration: none;
}

a:hover {
    /*background-color: #eebb99;
    color: #002222;*/
    text-decoration: underline;
}

.aplayer-bar {
    background-color: #506060 !important;
}

.aplayer-info, .aplayer-list, .aplayer .aplayer-list ol li.aplayer-list-light {
  background-color:#102727 !important
}
.aplayer .aplayer-list ol li:hover {
  background-color:#002020 !important
}
.aplayer.aplayer-withlist .aplayer-info {
  border:none !important;
  border-bottom:none !important
}
.aplayer .aplayer-list ol li {
  border-top:none !important
}

.aplayer-list-cur, .aplayer-played, .aplayer-thumb, .aplayer-volume {
  background-color:#ffccaa !important
}

.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon:hover path {
    fill: #fff !important;
}

/*
.aplayer .aplayer-info .aplayer-music {
    overflow: hidden;
}

.aplayer .aplayer-info .aplayer-music {
    display: inline-block;
    animation: floatText 15s infinite linear;
    padding-left: 100%;
}

@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}*/
