---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';


.text-link {
    color: rgb(150, 220, 255);
}

br {
    margin-bottom: 10px;
}

p {
	margin-bottom: 10px;
	}

// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
img[alt="figure"] {
	max-width: 50%;
	display: block;
	margin: 30px auto;
}

.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}


.no-highlight:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.no-highlight:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.no-highlight:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.no-highlight:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

.min-height-full {
  min-height: 100vh;
}

.aplayer-info {
    background-color: #24292e !important
}

.aplayer-list {
	background-color: #24292e !important
}

.aplayer .aplayer-list ol li.aplayer-list-light {
	background-color: #2f363d !important
}

.aplayer .aplayer-list ol li:hover {
	background-color: #3f464d !important
}

.aplayer.aplayer-withlist .aplayer-info {
  border: none !important;
  border-bottom: none !important;
}

.aplayer .aplayer-list ol li {
	border-top: none !important;
}
